
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #160F31;
  font-family: "Poppins", serif;
  pointer-events: none;
}


.wrapper,
.content {
  position: relative;
  width: 100%;
  z-index: 1;
}

.content {
  overflow-x: hidden;
}

.content .section {
  width: 100%;
  height: 100vh;
}

.content .section.hero {
  background-image: url(../images/bg-back.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

div.options {
  pointer-events: all;
  background-color: #0009;
  backdrop-filter: blur(2px);
  border-radius: 10px;
  color: #fff;
  height: 560px;
  position: absolute;
  padding: 0.4rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 380px;
  animation: showInfo 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);

  animation-iteration-count: 1;
  animation-fill-mode: both;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
}

div.options img.logo {
  width: 120px;
}
div.options img.skill {
  width: 240px;
}

div.options h2 {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 300;
}

div.options ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

div.options ul li {
    border: 1px solid #b0105e;
    border-radius: 4px;
    background-color: #0009;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.2rem;
    padding: 0.2rem 0.4rem;
    width: 260px;
}

div.options ul li span.info {
  display: flex;
  flex-direction: column;
  small {
    color: #b0105e;
    font-size: 0.8rem;
  }
}

div.options ul li span.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  a:is(:link, :visited) {
    transition: transform 0.2s ease-in;
    img {
      margin-top: 0.3rem;
      width: 32px;
    }
    &:hover {
      transform: scale(1.1);
    }
  }
}

.image-container {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  perspective: 500px;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.scroll {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: hideMouse 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);

  animation-iteration-count: 1;
  animation-fill-mode: both;
}

.scroll-icon {
  display: block;
  position: relative;
  height: 3.5rem;
  top: 0;
  left: 0;
  width: 2rem;
  border: 0.25em solid #fff;
  border-radius: 1rem;
}

.scroll-icon__wheel-outer {
  display: block;
  position: absolute;
  left: 50%;
  top: 0.6rem;
  height: 1rem;
  width: 0.4rem;
  margin-left: -0.2rem;
  border-radius: 0.4rem;
  overflow: hidden;
}
.scroll-icon__wheel-inner {
  display: block;
  height: 100%;
  width: 100%;
  border-radius: inherit;
  background: #fff;
  -webkit-animation: scroll_1 2.75s ease-in-out infinite;
          animation: scroll_1 2.75s ease-in-out infinite;
}

@keyframes scroll_1 {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-0.6rem);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(0.6rem);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes showInfo {
  from {
    transform: translate(-50%, 120%);
  }
  to {
    transform: translate(-50%, -70%);
  }
}

@keyframes hideMouse {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}